<?xml version="1.0" encoding="utf-8"?>
<ArrayOfConfiguracionUsuarioActivo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ConfiguracionUsuarioActivo>
    <ColorPrimario>
      <A>255</A>
      <R>121</R>
      <G>85</G>
      <B>72</B>
      <ScA>1</ScA>
      <ScR>0.191201687</ScR>
      <ScG>0.09084171</ScG>
      <ScB>0.064803265</ScB>
    </ColorPrimario>
    <ColorSecundario>
      <A>255</A>
      <R>255</R>
      <G>255</G>
      <B>0</B>
      <ScA>1</ScA>
      <ScR>1</ScR>
      <ScG>1</ScG>
      <ScB>0</ScB>
    </ColorSecundario>
    <IsDarkTheme>false</IsDarkTheme>
    <NombreUsuario>angel2</NombreUsuario>
  </ConfiguracionUsuarioActivo>
  <ConfiguracionUsuarioActivo>
    <ColorPrimario>
      <A>255</A>
      <R>96</R>
      <G>125</G>
      <B>139</B>
      <ScA>1</ScA>
      <ScR>0.116970666</ScR>
      <ScG>0.205078736</ScG>
      <ScB>0.258182853</ScB>
    </ColorPrimario>
    <ColorSecundario>
      <A>255</A>
      <R>3</R>
      <G>169</G>
      <B>244</B>
      <ScA>1</ScA>
      <ScR>0.000910581</ScR>
      <ScG>0.396755219</ScG>
      <ScB>0.9046612</ScB>
    </ColorSecundario>
    <IsDarkTheme>true</IsDarkTheme>
    <NombreUsuario>angel</NombreUsuario>
  </ConfiguracionUsuarioActivo>
  <ConfiguracionUsuarioActivo>
    <ColorPrimario>
      <A>255</A>
      <R>121</R>
      <G>85</G>
      <B>72</B>
      <ScA>1</ScA>
      <ScR>0.191201687</ScR>
      <ScG>0.09084171</ScG>
      <ScB>0.064803265</ScB>
    </ColorPrimario>
    <ColorSecundario>
      <A>255</A>
      <R>255</R>
      <G>193</G>
      <B>7</B>
      <ScA>1</ScA>
      <ScR>1</ScR>
      <ScG>0.5332764</ScG>
      <ScB>0.00212468882</ScB>
    </ColorSecundario>
    <IsDarkTheme>false</IsDarkTheme>
    <NombreUsuario>Enrique.Saez.Martinez</NombreUsuario>
  </ConfiguracionUsuarioActivo>
  <ConfiguracionUsuarioActivo>
    <ColorPrimario>
      <A>255</A>
      <R>121</R>
      <G>85</G>
      <B>72</B>
      <ScA>1</ScA>
      <ScR>0.191201687</ScR>
      <ScG>0.09084171</ScG>
      <ScB>0.064803265</ScB>
    </ColorPrimario>
    <ColorSecundario>
      <A>255</A>
      <R>255</R>
      <G>193</G>
      <B>7</B>
      <ScA>1</ScA>
      <ScR>1</ScR>
      <ScG>0.5332764</ScG>
      <ScB>0.00212468882</ScB>
    </ColorSecundario>
    <IsDarkTheme>false</IsDarkTheme>
    <NombreUsuario>Andres</NombreUsuario>
  </ConfiguracionUsuarioActivo>
</ArrayOfConfiguracionUsuarioActivo>