<?xml version="1.0" encoding="utf-8"?>
<ArrayOfConfiguracionUsuarioActivo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ConfiguracionUsuarioActivo>
    <ColorPrimario>
      <A>255</A>
      <R>255</R>
      <G>152</G>
      <B>0</B>
      <ScA>1</ScA>
      <ScR>1</ScR>
      <ScG>0.313988715</ScG>
      <ScB>0</ScB>
    </ColorPrimario>
    <ColorSecundario>
      <A>255</A>
      <R>255</R>
      <G>235</G>
      <B>59</B>
      <ScA>1</ScA>
      <ScR>1</ScR>
      <ScG>0.8307699</ScG>
      <ScB>0.04373503</ScB>
    </ColorSecundario>
    <IsDarkTheme>true</IsDarkTheme>
    <NombreUsuario>angel2</NombreUsuario>
  </ConfiguracionUsuarioActivo>
  <ConfiguracionUsuarioActivo>
    <ColorPrimario>
      <A>255</A>
      <R>158</R>
      <G>158</G>
      <B>158</B>
      <ScA>1</ScA>
      <ScR>0.341914415</ScR>
      <ScG>0.341914415</ScG>
      <ScB>0.341914415</ScB>
    </ColorPrimario>
    <ColorSecundario>
      <A>255</A>
      <R>0</R>
      <G>150</G>
      <B>136</B>
      <ScA>1</ScA>
      <ScR>0</ScR>
      <ScG>0.3049873</ScG>
      <ScB>0.246201321</ScB>
    </ColorSecundario>
    <IsDarkTheme>true</IsDarkTheme>
    <NombreUsuario>angel</NombreUsuario>
  </ConfiguracionUsuarioActivo>
  <ConfiguracionUsuarioActivo>
    <ColorPrimario>
      <A>255</A>
      <R>121</R>
      <G>85</G>
      <B>72</B>
      <ScA>1</ScA>
      <ScR>0.191201687</ScR>
      <ScG>0.09084171</ScG>
      <ScB>0.064803265</ScB>
    </ColorPrimario>
    <ColorSecundario>
      <A>255</A>
      <R>255</R>
      <G>193</G>
      <B>7</B>
      <ScA>1</ScA>
      <ScR>1</ScR>
      <ScG>0.5332764</ScG>
      <ScB>0.00212468882</ScB>
    </ColorSecundario>
    <IsDarkTheme>false</IsDarkTheme>
    <NombreUsuario>Enrique.Saez.Martinez</NombreUsuario>
  </ConfiguracionUsuarioActivo>
  <ConfiguracionUsuarioActivo>
    <ColorPrimario>
      <A>255</A>
      <R>121</R>
      <G>85</G>
      <B>72</B>
      <ScA>1</ScA>
      <ScR>0.191201687</ScR>
      <ScG>0.09084171</ScG>
      <ScB>0.064803265</ScB>
    </ColorPrimario>
    <ColorSecundario>
      <A>255</A>
      <R>255</R>
      <G>193</G>
      <B>7</B>
      <ScA>1</ScA>
      <ScR>1</ScR>
      <ScG>0.5332764</ScG>
      <ScB>0.00212468882</ScB>
    </ColorSecundario>
    <IsDarkTheme>false</IsDarkTheme>
    <NombreUsuario>Andres</NombreUsuario>
  </ConfiguracionUsuarioActivo>
</ArrayOfConfiguracionUsuarioActivo>